<html>
	<body>
		<div>
			<h3>Hello {{name}}!</h3>
			<p>Thank you for registering with us, {{name}}. Through our app, you will get much more foot traffic and can work flexible hours and at different locations!</p>
			<h4>Features:</h4>
			<ul>
				<li>Switch truck status to "Open" or "Close" and specify hours open</li>
				<li>Use your current location to notify customers where your truck is when you "Open"</li>
				<li>Insert your menu items / edit them if you change your ingredients or items for that day</li>
			</ul>
			<h4>Important information:</h4>
			<p>You registered with {{email}}. Please use this to log into your account.</p>
			<p>We look forward to your growing business!</p>
			<p>-The Fook Team ❤!️</p> 
			<img src="https://image.freepik.com/free-vector/retro-food-truck_23-2147530708.jpg" alt="" /></div>'
	</body>
</html>