<html>
	<body>
		<div>
			<h3>Hello {{name}}!</h3>
			<p>You are receiving this email because you indicated that you forgot your password.</p>
			<p>Your reset token is {{token}} .</p>
			<p>Please click the "Forgot password?" button on the Login page and click "Enter token" and enter the token above.</p>
			<p>The token will expire in 30 minutes.</p>
			<p>-The Fook Team ❤!️</p> 
			<img src="https://image.freepik.com/free-vector/retro-food-truck_23-2147530708.jpg" alt="" /></div>'
	</body>
</html>